<% include header %>

<table class="table table" >
    <tr>
        <th scope="col">Arma</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Imagen</th>
    </tr>
    <tr>
        <td>Arma BLanca</td>
        <td>Se caracterizan por tener al menos un borde afilado o cortante</td>
        <td><img src="/images/zombies/normal.png" ></td>
    </tr>
   <tr>
        <td>Armas arrojadizas</td>
        <td>Tal y como lo sugiere su nombre, se trata de aquellas armas que deben ser arrojadas por el atacante para poder causar daño</td>
        <td><img src="/images/normal.png" ></td>
    </tr>
    <tr>
        <td>Armas de proyección</td>
        <td>Estas se caracterizan por arrojar algún tipo de proyectil, siendo ayudadas por un mecanismo físico, ya sea una persona o un artefacto</td>
        <td><img src="/images/normal.png" ></td>
    </tr>
</table>

<% include footer %>