<% include header %>
<table class="table table">
    <tr>
        <th width="30%">Clase</th>
        <th>Imagen</th>
    </tr>
    <tr>
        <td>normal</td>
        <td><img src="zombies\images\zombies\normal.png" ></td>
    </tr>
    <tr>
        <td>Zombi caracono</td>
        <td><img src="zombies\images\zombies\ZombiCaracono2.png" ></td>
    </tr>
    <tr>
        <td>Zombi caracono</td>
        <td><img src="zombies\images\zombies\ZombiCaracono2.png" ></td>
    </tr>
    <tr>
        <td>Zombi caracono</td>
        <td><img src="zombies\images\zombies\ZombiCaracono2.png" ></td>
    </tr>
</table>

<% include footer %>