<% include header %>
<table class="weap" border="2px" width="100%">
    <tr>
        <th width="70%">Clase</th>
        <th>Imagen</th>
    </tr>
    <tr>
        <td>normal</td>
        <td width="70%"><img src="/images/normal.png" width="30%" align="center"></td>
    </tr>
    <tr>
        <td>Básica</td>
        <td width="70%"><img src="/zombie.png" width="30%" align="center"></td>
    </tr>
</table>

<% include footer %>