<% include header %>

<table class="table table">
    <tr>
        <th>Victimas  potenciales</th>
        <th>dirección</th>
        <th>telefono</th>
        <th>Instagram</th>
    </tr>
    <tr>
        <td>Pedro</td>
        <td >Su casa</td>
        <td>618-123-1790</td>
        <td ><a href ="https://www.instagram.com">instagram</a></td>
    </tr>  
        <tr>
        <td>Pedro</td>
        <td >Su casa</td>
        <td>618-123-1790</td>
        <td ><a href ="https://www.instagram.com">instagram</a></td>
    </tr>  
        <tr>
        <td>Pedro</td>
        <td >Su casa</td>
        <td>618-123-1790</td>
        <td ><a href ="https://www.instagram.com">instagram</a></td>
    </tr>  
        <tr>
        <td>Pedro</td>
        <td >Su casa</td>
        <td>618-123-1790</td>
        <td ><a href ="https://www.instagram.com">instagram</a></td>
    </tr>  
        <tr>
        <td>Pedro</td>
        <td >Su casa</td>
        <td>618-123-1790</td>
        <td ><a href ="https://www.instagram.com">instagram</a></td>
    </tr>  
        <tr>
        <td>Pedro</td>
        <td >Su casa</td>
        <td>618-123-1790</td>
        <td ><a href ="https://www.instagram.com">instagram</a></td>
    </tr>  
        <tr>
        <td>Pedro</td>
        <td >Su casa</td>
        <td>618-123-1790</td>
        <td ><a href ="https://www.instagram.com">instagram</a></td>
    </tr>  

</table>

<% include footer %>